h1 {
  string-set: reactPrintH1Contents content(text);
}

h2 {
  string-set: reactPrintH2Contents content(text) reactPrintH3Contents ""
    reactPrintH4Contents "" reactPrintH5Contents "" reactPrintH6Contents "";
}

h3 {
  string-set: reactPrintH3Contents content(text) reactPrintH4Contents ""
    reactPrintH5Contents "" reactPrintH6Contents "";
}

h4 {
  string-set: reactPrintH4Contents content(text) reactPrintH5Contents ""
    reactPrintH6Contents "";
}

h5 {
  string-set: reactPrintH5Contents content(text) reactPrintH6Contents "";
}

h6 {
  string-set: reactPrintH6Contents content(text);
}

.react-print-heading-contents:not(:empty)::before {
  content: attr(data-before);
}

.react-print-heading-contents:not(:empty)::after {
  content: attr(data-after);
}

.react-print-h1-contents:before {
  content: string(reactPrintH1Contents);
}

.react-print-h2-contents:before {
  content: string(reactPrintH2Contents);
}

.react-print-h3-contents:before {
  content: string(reactPrintH3Contents);
}

.react-print-h4-contents:before {
  content: string(reactPrintH4Contents);
}

.react-print-h5-contents:before {
  content: string(reactPrintH5Contents);
}

.react-print-h6-contents:before {
  content: string(reactPrintH6Contents);
}
