@page {
  @top-left {
    content: flow(ReactPrintPageTop);
    content: element(ReactPrintPageTop);
    position: relative;
  }

  @bottom-left {
    content: flow(ReactPrintPageBottom);
    content: element(ReactPrintPageBottom);
    position: relative;
  }
}

.react-print-page-top {
  position: running(ReactPrintPageTop) !important;
  -prince-flow: static(ReactPrintPageTop);
  width: 100%;
  height: 100%;
}

.react-print-current-page-top {
  position: ReactPrintPageTop;
  width: 100%;
  height: 100%;
}

.react-print-page-bottom {
  position: running(ReactPrintPageBottom) !important;
  -prince-flow: static(ReactPrintPageBottom);
  width: 100%;
  height: 100%;
}

.react-print-page-break {
  page-break-after: always;
}

.react-print-no-break {
  page-break-inside: avoid;
}
